body{
    background-color:darkgrey; 
    margin: 0;
    padding: 0; 
    background-image:url(../img/strasse.jpeg);
    background-image:no-repeat;
}

body main h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size:60px; 
    text-align: center;
}

body main h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size:40px; 
    position:relative;
    left:400px; 
    
}

body main img:nth-of-type(1){
    position:relative;
    left: 600px;
    bottom: -50px; 

}

body main h3 {
    font-family: 'Fredericka the Great', cursive;
    font-size:40px; 
    position:relative;
    left:600px; 
    bottom: -250px; 
     
}

body main img:nth-of-type(2){
    position:relative;
    left: 100px;
    bottom: -350px; 
   
}

body main ul{
    color:white; 
    position:relative;
    left:1000px; 
    font-size:30px; 
    padding-bottom: 220px; 
}

body main h4{
    font-family: 'Fredericka the Great', cursive;
    font-size:40px; 
    position:relative;
    left:600px; 
    bottom: -150px; 
}

body main img:nth-of-type(3){
    position:relative;
    left: 159px;
    bottom: -229px; 
    width:444px; 
    height:356px; 
   
}

body main img:nth-of-type(4){
    position:relative;
    left: 559px;
    bottom: -229px; 
    width:444px; 
    height:356px;
   
}

body main img:nth-of-type(5){
    position:relative;
    left: -738px;
    bottom: -788px; 
    width:444px; 
    height:356px;
   
}

body main img:nth-of-type(6){
    position:relative;
    left: -335px;
    bottom: -777px; 
    width:444px; 
    height:396px;   
}

body main img:nth-of-type(7){
    position:relative;
    left: 594px;
    bottom: -877px; 
    width:444px; 
    height:496px;   
}

body main h5{
    font-family: 'Fredericka the Great', cursive;
    font-size:60px; 
    position:relative;
    left:600px; 
    bottom: -1050px; 
}

body main iframe {
    position:relative;
    left:400px;
    bottom:-1100px; 
    width:1000px; 
    height: 500px;
    padding-bottom:100px; 
    
}

body main h6{
    font-family: 'Fredericka the Great', cursive;
    font-size:60px; 
    position:relative;
    left:600px; 
    bottom: -1050px; 
    padding-bottom:100px; 
}

body main h6:hover{
    color:gold; 
    
    
}

